apiVersion: v1
baseDomain: {{ var_basedomain }}
compute:
- hyperthreading: {{ var_compute_ht }}
  name: {{ var_compute_name }}
  platform:
    aws:
      type: {{ var_compute_instancetype }}
  replicas: {{ var_compute_qty }}
controlPlane:
  hyperthreading: {{ var_control_ht }}
  name: {{ var_control_name }}
  platform:
    aws:
      type: {{ var_control_instancetype }}
  replicas: {{ var_control_qty }}
metadata:
  creationTimestamp: {{ var_creationtimestamp }}
  name: {{ var_cluster_name }}
networking:
  clusterNetwork:
  - cidr: {{ var_clusternetwork_cidr }}
    hostPrefix: {{ var_clusternetwork_hostprefix }}
  machineCIDR: {{ var_machinecidr }}
  networkType: {{ var_networktype }}
  serviceNetwork:
  - {{ var_servicenetwork }}
platform:
  aws:
    region: {{ var_awsregion }}
pullSecret: '{{ var_pullsecret }}'
sshKey: {{ var_sshkey }}
