{
    "*installconfig.InstallConfig": {
        "config": {
            "apiVersion": "v1",
            "metadata": {
                "name": "{{ var_cluster_name }}",
                "creationTimestamp": {{ var_creationtimestamp }}
            },
            "sshKey": "{{ var_sshkey }}",
            "baseDomain": "{{ var_basedomain }}",
            "networking": {
                "machineCIDR": "{{ var_machinecidr }}",
                "networkType": "{{ var_networktype }}",
                "clusterNetwork": [
                    {
                        "cidr": "{{ var_clusternetwork_cidr }}",
                        "hostPrefix": {{ var_clusternetwork_hostprefix }}
                    }
                ],
                "serviceNetwork": [
                    "{{ var_servicenetwork }}"
                ]
            },
            "controlPlane": {
                "name": "{{ var_control_name }}",
                "replicas": {{ var_control_qty }},
                "platform": {
                  "aws": {
                    "type": "{{ var_control_instancetype }}"
                  }
                },
                "hyperthreading": "{{ var_control_ht }}"
            },
            "compute": [
                {
                    "name": "{{  var_compute_name }}",
                    "replicas": {{ var_compute_qty }},
                    "platform": {
                      "aws": {
                        "type": "{{ var_compute_instancetype }}"
                      }
                    },
                    "hyperthreading": "{{ var_control_ht }}"
                }
            ],
            "platform": {
                "aws": {
                    "region": "{{ var_awsregion }}"
                }
            },
            "pullSecret": "{{ var_pullsecretjson }}"
        },
        "file": {
            "Filename": "install-config.yaml"
        }
    },
    "*installconfig.baseDomain": {
        "BaseDomain": "{{ var_basedomain }}"
    },
    "*installconfig.clusterName": {
        "ClusterName": "{{ var_cluster_name }}"
    },
    "*installconfig.platform": {
        "aws": {
            "region": "{{ var_awsregion }}"
        }
    },
    "*installconfig.pullSecret": {
        "PullSecret": "{{ var_pullsecretjson }}"
    },
    "*installconfig.sshPublicKey": {
        "Key": "{{ var_sshkey }}"
    }
}
