{
  "CN": "Kubernetes",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ ca_country_code }}",
      "L": "{{ ca_locality }}",
      "O": "Kubernetes",
      "OU": "{{ ca_organizational_unit }}",
      "ST": "{{ ca_state }}"
    }
  ]
}
